*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
    
}
.intro{
    width: 100%;
    height: 1012px;
    background: url("background.jpg")fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
    align-items: center;
    
}
a{
    color: aliceblue;
    text-decoration: none;
}
li{
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;

}

nav{
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.4);
}

h2{
    
    font-family: 'Bebas Neue', cursive;
    padding:0px;
}
#logo{
    color: black;
    transition: all 0.5s;
    opacity: 0.8;
}
#logo:hover{
    transform: scale(1.1);
}

.trait1{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
    width: 400px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.trait2{
    margin-left: 100px;
    width: 200px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.accroche{
    margin-left: 100px;
    margin-top: 150px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 200px;
    color: white;
}
.container-button{
    display: block;
    float: right;
    position: relative;
    top: 150px;
    margin-right: 150px;
    
}
.btn-first{
    font-family: 'Bebas Neue', cursive;
    height: auto;
    border: 2px solid white;
    outline: none;
    background: transparent;
    font-size: 25px;
    padding: 15px;
    width: 250px;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
    
}
.btn-first:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.btn-first:nth-child(1){
    margin-right: 40px;
    margin-left: 100px;
}
.main{
    display: flex;
    width: 100%;
    height: 820px;
    margin-top: 200px;
    background:url("main1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: bisque;
}
.blockinfo{
    width: 50%;
    height: 100%;
    text-align: left;
    

}
.blockinfo p{
    border-radius: 10px;
    margin: 50px;
    margin-top: 10px;
    padding: 15px;
    line-height: 25px;
    max-height: 600px;
    font-size: 20px;
    transition: all 0.5s ;
}
.blockinfo h2{
text-align: center;
margin-top: 50px;
font-size: 70px;
}
.blockinfo p:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transform: scale(1.1)
}
.slidercontainer{
    width: 50%;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.slider img{
    max-width: 100%;
    display: none;
}

img.active{
    border: solid 5px #f1f1f1;
    height: 500px;
    display:block;
    animation: fade 1s;
}
@keyframes fade{
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.btn-container{
    margin-bottom: -50px;
}
.btn-right, .btn-left{
    background-color: transparent;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px;
    border: solid 2px #f1f1f1;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.5) ;
    transition: all 0.5s;
    cursor: pointer;
    color: #f1f1f1;
    }
.btn-left:hover, .btn-right:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.transition{
    width: 100%;
    height: 200px;
    background: linear-gradient(#16576b, #814e39);
    margin-bottom: -200px;
   
}
.rs{
    width: 100%;
    display: flex;
    list-style-type: none; 
    justify-content: space-around;
    align-items: center;
    transform: translateY(63%);
}

li i{
   color: rgba(255, 228, 160, 0.5);
   transition: all 0.5s ease-in-out;

}
.rs li:hover i{
    transform: scale(1.5);
    color: rgba(255, 228, 160, 1);

}
.footer{
    width: 100%;
    height: 200px;
    display: flex;
    background: linear-gradient(#16576b,#814e39);
    justify-content: space-around;
    align-items: center;
}
.footer li{
    
    text-decoration: none;
    list-style: none;
    margin-left:200px ;
}
.footer form{
    border: solid 5px #f1f1f1;
    padding: 30px 20px;
    box-shadow: 2px 2px white;
}

#mail{
    margin-right: 10px;
}
#send{
    margin-left: 20px;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
}
.footer h2{
    margin-bottom: 15px;
    color: #814e39;
}
.footer label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
#close{
    font-family: 'Bebas Neue', cursive;
    height: auto;
    border: 2px solid black;
    outline: none;
    background: transparent;
    font-size: 25px;
    padding: 15px;
    width: 250px;
    color: black;
    transition: all 0.5s ease;
    cursor: pointer;
}
#close:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1000;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    max-width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8 );
    padding: 75px 100px;
}
.modal button{
    margin-top: 50px;
}
.modal iframe{
    border-radius: 50px;
    margin-top: 50px;
}
.modal h3{
    font-size: 50px;
}
.container h1{
    color:#814e39;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
}

.container span:nth-child(1){
    display: block;
    color: #16576b;
}
.container{
    
    width: 90%;
    margin: auto;
}
.card-city-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    grid-gap: 30px;
    margin:80px 0 ;
}
.card-city-wrapper{
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: top;
}
.card-city-wrapper:hover .card{
    transform: rotateY(180deg);

}
.card{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    color: white;
    font-weight: normal;
}
.front,
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front{
    background-color: #16576b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front h2{
    font-size: 100px;
}
.back{
    background: linear-gradient(rgba(22,87,107,1), #814e39);
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.desc{
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.montreal{
background-image: url(montreal.jpg);
background-repeat: no-repeat;
background-blend-mode:exclusion;
background: cover;
}
.toronto{
background-image: url(toronto.jpg);
background-repeat: no-repeat;
background-blend-mode: exclusion;
background: cover;
}
.ottawa{
background-image: url(ottawa.jpg);
background-repeat: no-repeat;
background-blend-mode: exclusion;
background: cover;
}
.vancouver{
background-image: url(vancouver.jpg);
background-repeat: no-repeat;
background-blend-mode: exclusion;
background: cover;
}